.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data/.DS_Store

# tutorial example folder
data/tutorial_example/pd_example_export_PSMs.txt_converted.csv
data/tutorial_example/ColAdjustmentFactors.csv
data/tutorial_example/Factor.csv
data/tutorial_example/Factor_*.csv
data/tutorial_example/Simple.csv
data/tutorial_example/Simple___*.csv
data/tutorial_example/Time_*.csv
data/tutorial_example/Subset_*.rda
data/tutorial_example/normalized___*.csv
data/tutorial_example/Factor_*.csv

# From upstream - v2